.addForm {
  color: whitesmoke;
  font-weight: bold;
  width: fit-content;
  padding: 10px;
  position: relative;
  border: 1px solid black;
}

.hikingFormBG {
  background: rgba(189, 61, 58, 1);
}

.clothingFormBG {
  background: rgba(63, 105, 170, 1);
}

.navigationFormBG {
  background: rgba(213, 174, 65, 1);
}

.shelterFormBG {
  background: rgba(118, 111, 87, 1);
}
.sleepFormBG {
  background: rgba(228, 122, 46, 1);
}
.cookingFormBG {
  background: rgba(127, 65, 69, 1);
}

.waterFormBG {
  background: rgba(46, 74, 98, 1);
}

.hygieneFormBG {
  background: rgba(0, 110, 109, 1);
}

.firstaidFormBG {
  background: rgba(107, 91, 149, 1);
}

.miscFormBG {
  background: rgba(0, 206, 209, 1);
}

.addInputName {
  width: 40%;
}
.addInputWeight {
  width: 10%;
}

.addInputName,
.addInputWeight,
.addInputImportance,
addFormSubmit {
  text-align: center;
  padding: 0;
  font-size: 15px;
}
.addFormSubmit {
  padding: 0 5px;
  margin: 0 2px;
  font-size: 15px;
}

legend {
  margin: auto;
}
