

.addForm{
    color: black;
    font-weight: bold;
    background: #D3D0CB;
    width: fit-content;
    margin: 5px;   
    padding:10px;
}
.addInput{
    display: block;
    width: 100%
}
.addInputName{
    width: 45%
}
.addInputWeight{
    width: 10%
}
.addFormSubmit{
    font-size: 15px;
    display: inline-block;
    margin-left: 1px;
}
legend{
    margin: auto;
}
