.category{
    position: relative;
    border: 1px solid black;
    font-size: 0;
    margin-top:3px;
    margin-bottom: 3px;
    text-align: center;
    background-color: lightcoral;
}

.resultsParent{
    font-size: 15px;
    background: grey;
    width: 100%;
}

h3{
    font-size: 25px;
    
    margin: 0;
}

.weightTotal, .itemTotal{

    font-size: 15px;
}

.addBtn{
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
}

div{
    font-size: 15px;
}
.resultItemSection{
    display: block;
    font-size: 0;

}
input{
    width: 40%;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}
