body {
  text-align: center;
}
.homepage {
  overflow-y: scroll;
}
@media screen and (min-width: 550px) {
  .homePage {
    font-size: 0;
  }
}
@media screen and (min-width: 1000px) {
  #wrapper {
    display: inline-block;
    width: 33%;
    position: absolute;
    right: 17%;
  }

 
}
