body{
    text-align: center;
}

@media screen and (min-width: 550px) {
    .homePage{
        background-image: url(/images/background-gradient.jpg);
        background-size: 1500px;
        font-size: 0;
    }
}
