body{
    text-align: center;
}

@media screen and (min-width: 550px) {
    .homePage{
        background-image: url(/images/background-gradient.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: gray;
        font-size: 0;
    }
}
