.listBody{
margin: auto;;
        background: gray;
      
}
.listNamesParent{
    margin: auto;
    width: 90%;
}

.overview{
 width: 20%;
    display: inline-block;
}
.overviewName{
    display: inline-block;
    
    width: 40%}
.overviewParent:hover{
    background: green;
}
.overviewParent{
    border: 1px solid black;
    background:white;
}
.newListInput{
    width: 75%;
}
.deleteBtn{
    text-align: right;
}
.namesListTable{
    align: center;
    background: white;
}
td{
    text-align: center;
    margin: auto;
}

tr{
    text-align: center;
}

th{
    text-align: center;
}