.formsContainer{
    position: absolute;
    top: 200px;
    width: 100%;
    right: 0;
    left: 0;
    margin: auto;
    background: white;
}
.demoDiv{
    background: lightgreen;
    width: fit-content;
    margin: auto;
    margin-bottom: 5px;
	padding: 5px;
}
.demoh4{
	font-size: 20px;
}
.creationFeedback{
	margin: auto;
    width: 75%;
    background: wheat;
    margin-top: 10px;
}
.orSpan{
	position: relative;
    top: 3px;
    font-size: 20px;
}
.signUpInput{
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
    /* border: 2px solid #52DEE5; */
}
.submitLogin{
	display: block;
	margin: auto;
	padding: 5px;
	margin-top: 5px;
	
}
.h3Login{
	margin-bottom: 5px;
	font-size: 30px;
}

@media screen and (min-width: 550px) {
	.formsContainer{
		padding: 20px;
		width: 50%;
	}
	.submitLogin{
		margin-left: 3px;
		margin: auto;
		margin-top: 5px;
		
	}
}