.totalBarContainer{
    background: darkgrey;
    font-size: 0;
    text-align: center;
    padding: 5px;
    margin-bottom: 3px;
}

header{
    display: inline-block;
    font-size: 35px;    
}

.totalContainer{
    display: inline-block;
    font-size: 15px;
    width: 50%;
    text-align: left;
    margin-top: 3px;
}
.setGoal:hover{
}

.divTotal, .divResult{
    width: 50%;
    display: inline-block;
}
.divTotal{
    text-align: center;
}
.saveBtn{
    width: 50%;
}
.headerBtnContainer{
    display: inline-block;
    width: 50%;
}


@media screen and (min-width: 550px) {
header{
    display: block;
}
.totalContainer{
    text-align: center;
}
.divTotal, .divResult{
    width: 20%;
}
.saveBtn{
    width: 25%;
}
}
    


